* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

.whitetxt {
    color: white;
}

.blacktxt {
    color: black;
}

.redtxt {
    color: red;
}

.pricecorrection {
    text-decoration: line-through;
}

.fa-user, .fa-heart, .fa-bag-shopping  {
    align-self: center;
}

.navbarbox {
    display: flex;
    background-color: orangered;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 8px 0;
}

.navbarlinks {
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.navbarlogo {
    display: flex;
    height: 35px;
    margin-left: -30px;
}

.navbaricons {
    display: flex;
    width: 80px;
    height: 40px;
    justify-content: space-around;
}

.productspage {
    width: 80%;
    margin: 0 auto;
    margin: 100px 120px 0 140px;
    position: absolute;
}


.productscontainer {
    display: flex;
    position: absolute;
    justify-content: space-between;
    height: 800px;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    position: relative;
    width: calc(100% / 3 - 40px / 3);
}

.heartbox {
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: white;
    font-size: 15px;
    padding: 10px;
    margin: -620px 0 0 355px;
}

.littlediscountbox {
    position: absolute;
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 5px;
    margin: -120px 0 0 0;
}

.bigdiscountbox {
    position: absolute;
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 5px;
    margin: 0 0 100px 0px;
    margin: -120px 0 0 0;
    
}

.sostbox {
    position: absolute;
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 5px;
    margin: 0 0 100px 0px;
    margin: -120px 0 0 48px;
}

.lastsostbox {
    margin: -120px 0 0 0;
}

.footer {
    display: flex;
    color: white;
    background-color: rgb(12, 12, 12);
    height: 130px;
    margin-top: 1420px;
    align-items: center;
    justify-content: space-around;
}

.firstfooterdiv {
    display: flex;
    font-size: 20px;
    width: 380px;
    flex-direction: column;
}

.FAQ {
    display: flex;
    font-size: 14px;
    flex-direction: row;
    justify-content: space-between;
}

.wheretofind {
    margin-left: 7px;
}

.socialiconsbox {
    display: flex;
    color: white;
    padding: 8px 0 0 0;
    flex-direction: row;
    justify-content: space-between;
}

.socialicons {
    background-color: white;
    font-size: 13px;
    margin-left: 7px;
    padding: 2px;
    border-radius: 20%;
}

